@import "https://unpkg.com/open-props";
/* @import "https://unpkg.com/open-props/normalize.min.css"; */

body {
    margin: 0;
    background-color: white;
    }


.image{
    height: 840px;
    margin-top: -448px;
    margin-left: 383px;
}

#container{
    background: url(images/darkGreyWallpp.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -80px;
}

.headingOne{
    color: palevioletred;
    font-size: 130px; 
    margin-left: 10px;
    /* margin-top: 10px; */
}

.paragraph{
    max-width: 30%; 
    margin-right: auto; 
    margin-left: 20px;
    margin-top: -380px;
    color: hsl(0, 0%, 80%);
}

.sideNav{
    margin-top: -260px;
    float: right;
    margin-right: 30px;
    top: 0;
    right: 0;
    width: 200px; 
    height: 100%; 
    transition: width 0.3s;
}

ul{
    list-style-type: none;
    padding: 0;
  }

li{
    padding: 10px;
}

a{
    font-size: 35px;
    color: hsl(0, 0%, 80%);
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s;
    margin-bottom: 30px;
}

li:hover{
    transform: scale(1.4);
}
a:hover{
    color: palevioletred;
}

#interestsPage{
    background: url(images/solidPinkWallpaper.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -80px;
}

.headingTwo{
    color: hsl(0, 1%, 28%);
    text-align: center;
    font-size: 110px;
    margin-left: 100px;
}

.media-scroller{
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 29%;

    padding: 0 var(--spacer ) var(--spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element{
    margin-top: -110px;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 10 / 9;
    object-fit: cover;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline > * {
    scroll-snap-align: start;

}

#skillsContainer{
    background: url(images/darkGreyWallpp.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -80px;
}

#meContainer{
    background: url(images/solidPinkWallpaper.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -80px;
}


.aboutMe{
    /* position: relative;
    top: -50px; 
    left: 0;
    animation: slideUp 2s forwards; */

    color: hsl(0, 1%, 28%);
    text-align: center;
    /* margin-top: -20px; */
    font-size: 110px;
    margin-left: 100px;
}
