@import "https://unpkg.com/open-props";

/*Styling for the introduction page*/
body {
    margin: 0;
    background-color: white;
    }

.image{
    height: 840px;
    margin-top: -448px;
    margin-left: 383px;
}

#container{
    background: url(images/darkGreyWallpp.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -80px;
}

.headingOne{
    color: palevioletred;
    font-size: 130px; 
    margin-left: 10px;
}

.line {
    width: 100%; 
    border-top: 1px solid hsl(0, 0%, 80%);
  }

.paragraph{
    max-width: 40%; 
    margin-right: auto; 
    margin-left: 20px;
    margin-top: -440px;
    color: hsl(0, 0%, 80%);
}
.highlight{
    color: palevioletred;
}

.contact{
    margin-top: 50px;
}
.eachContact {
    display: flex; 
    align-items: center; 
    color: hsl(0, 0%, 80%);
  }

.eachContacts{
    display: flex; 
    align-items: center; 
    color: hsl(0, 0%, 80%);
    margin-left: 20px;

}
  
.contactImg {
    height: 25px;
    margin-right: 10px;
  }

.contactImgs{
    height: 20px;
    margin-left: 10px; 
}

.introPara{
    font-size: 40px;
}

.sideNav{
    margin-top: 150px;
    position: absolute;
    margin-right: 10px;
    top: 0;
    right: 80px;
    width: 200px; 
    height: 10%; 
    transition: width 0.3s;
}

ul{
    list-style-type: none;
    padding: 0;
  }

li{
    padding: 10px;
}

a{
    font-size: 35px;
    color: hsl(0, 0%, 80%);
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s;
    margin-bottom: 30px;
}

li:hover{
    transform: scale(1.4);
}
a:hover{
    color: palevioletred;
}

/*Styling for the About me page*/
#aboutPage{
    background: url(images/aboutMeBG.png);
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#meContainer{  
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px
}

.aboutContent{
    max-width: 800px;
    padding: 90px;
    border-color: 4px solid black;
    background-color: hsl(0, 1%, 28%);
    text-align: center;
    
}

.aboutMe{
    color: palevioletred;
    text-align: center;
    font-size: 90px;
    margin: 0;
}

.aboutParagraph{
    color: hsl(0, 0%, 80%);
}

#eduContent{
    float: right;
    align-items: center;
    padding: 50px;
    color: hsl(0, 1%, 28%);
    font-size: 18px;
}

/*Styling for the skills page*/
#skillsPage{
    background: url(images/darkGreyWallpp.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -80px;
    color: hsl(0, 0%, 80%);
}

#skillsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.headingSkills{
    color: hsl(0, 0%, 80%);
    text-align: center;
    font-size: 100px; 
    margin-left: 10px;
}

.skillsImg{
    height: 60px;
}

.frontSkills,
.backSkills,
.otherSkills {
    text-align: center;
    height: 280px;
    padding: 20px;
    flex: 1; 
    margin-right: 60px;
    border: 2px solid palevioletred;
}

/*Background & styling for interest page*/
#interestsPage{
    background: url(images/solidPinkWallpaper.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -80px;
}

.headingTwo{
    color: hsl(0, 1%, 28%);
    text-align: center;
    font-size: 75px;
    margin-left: 100px;
}


/*Styling for the scrolled content*/
.media-scroller{
    margin-top: -30px;
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 37%;

    padding: 15px var(--spacer ) var(--spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element{
    margin-top: -100px;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--surface-2);
    background-color: hsl(0, 1%, 28%);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 10 / 9;
    object-fit: cover;
}

.scrollHeadings{
    text-align: center;
    font-size: 40px;
}

.media-element > p{
    color: white;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline > * {
    scroll-snap-align: start;

}


/*Styling for the web pages scrollbars*/
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#6c0260, #ff22e6);
    border-radius: 15px;
}





