#formPage{
    background: url(images/orange-circle.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

h2{
    color: #020251;
    
}
.container{
    justify-content: center;
    padding: 20px; 
    background-color: aliceblue;
    border-radius: 10px;
    width: 500px; 
    float: right;
    margin-right: 20px;
}

input[type="text"], input[type="number"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }