/* styling the temperature input field*/
input[type="number"] {
    width: 100px;
    padding: 8px;
    box-sizing: border-box;

  }

/* styling the form content and background*/
.form {
  padding: 40px; 
  background-color: wheat;
  border-radius: 16px;
  margin: 50px;
  margin-bottom: 10px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.form h1{
  color: #f75f78;
  text-align: center;
}

/* styling the convert button*/
.form button{
  margin-top: 50px; 
  padding: 10px 216px;
  color: #f75f78;

}

.form label{
  margin-bottom: 20px;
}
  
/*adding more detials to the result area*/
#result {
  border: 1px solid #f75f78;
  padding: 16px;
  text-align: center;
}

